name: discover-podcast-feeds

on:
  workflow_dispatch:
  # schedule:
  #  - cron: '0 10 * * *'

jobs:
  update-feeds:
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.7.7'
          
      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute discovery script
        run: python discover_feeds.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: "chore(auto): Update podcast configuration"
          body: "Automated discovery routine found new podcasts or changes to existing podcast feeds."
          branch: update-podcast-configuration
          commit-message: "chore(auto): Update podcast configuration"
          committer: nrk-pod-feeds auto-discovery <actions@github.com>
          delete-branch: true
          add-paths: |
            podcasts.json